.leftnav.dark{
    color: #fff;
}

nav.dark{
    background-color:#0a0a0a;
}

.search.dark{
    color: white;
}

#moon.dark{
    opacity: 0;
}

.main.dark{
    background-color:#0a0a0a;
}

.main.dark .banner_whyus{
    background-color: #111111;
}

.our_gallary_section.dark{
    background-color: #111111;
}

.main.dark .features_text h3{
    color: white;
}

.main.dark .features_cards h4{
    color: white;
}

.main.dark .features_cards p{
    color: white;
}

.main.dark .features_cards a{
    color: white;
}

.main.dark .features_cards a:hover{
    color:#ec1944;
}

.main.dark .our_text h3{
    color:white;
}


.main.dark .why_text h3{
    color: white;
}

.main.dark .ttt{
    color: white;
}

.main.dark .count{
    color: white;
}

.main.dark .our_head p{
    color: white;
}

.main.dark .admin{
    color: white;
}

.main.dark .admin span{
    color: white;
}

.main.dark .date{
    color: white;
}

.main.dark .our_uphead p{
    color: white;
}

.main.dark .services_page .our_updates_cards.plan ul li{
    color: white;

}

.main.dark .our_updates_cards.plan h4 sub{
    color: white;
}

.main.dark .leftnav .home{
    color: #ec1944 !important;
}

.main.dark.ab_pg .leftnav .home{
    color: white !important;
}

.main.dark.ct_pg .leftnav .home{
    color: white !important;
}

.main.dark.ct_pg .hello_para{
    color: white !important;
}

.main.dark.blog_button .leftnav .home{
    color: white !important;
}

.main.dark.page_button .leftnav .home{
    color: white !important;
}

.main.dark .features_section .contact_form{
    background-color: #111111;
}

.main.dark .features_section .contact_form input{
    background-color: #0a0a0a;
}

.main.dark .features_section .contact_message{
    background-color: #0a0a0a!important;
}

.main.dark .features_section .icon_contact_info{
    background-color: #0a0a0a;

}


/* mobile view */

@media screen and (max-width: 741px) and (min-width: 250px){
    .leftnav.dark{
        color: black;
    }

    .main.dark.ab_pg .leftnav .home{
        color: black !important;
    }

    .main.dark.ct_pg .leftnav .home{
        color: black !important;
    }

}

/* tab view */

@media screen and (max-width: 1017px) and (min-width: 742px){
    .leftnav.dark{
        color: black;
    }

}
