/* about page */

.main.ab_pg .owl-carousel{
    display: none;
}

.main.ab_pg .features_section{
    display: none;
}

.main.ab_pg .why_us{
    display: none;
}

.main.ab_pg .our_section{
    display: none;
}

.main.ab_pg .our_gallary_section{
    display: none;
}

.main.ab_pg .Unique_design{
    display: none;
}

.main.ab_pg .testimonial_main{
    display: none;
}

.main.ab_pg .our_updates_sections{
    display: none;
}

.main.ab_pg .about_us{
    display: block;
}

.about_us{
    display: none;
}

.main.ab_pg .about_us .why_us{
    display: block;
}

.main.ab_pg .about{
    color: #ec1944;
}

.main.ab_pg .home{
    color: black;
}

/* contact page */

.main.ct_pg .owl-carousel{
    display: none;
}

.main.ct_pg .features_section{
    display: none;
}

.main.ct_pg .why_us{
    display: none;
}

.main.ct_pg .our_section{
    display: none;
}

.main.ct_pg .our_gallary_section{
    display: none;
}

.main.ct_pg .Unique_design{
    display: none;
}

.main.ct_pg .testimonial_main{
    display: none;
}

.main.ct_pg .our_updates_sections{
    display: none;
}

.main.ct_pg .contact_us{
    display: block;
}

.contact_us{
    display: none;
}

.main.ct_pg .contact_us .why_us{
    display: block;
}

.main.ct_pg .contact_us .features_section{
    display: block;
}

.main.ct_pg .contact{
    color: #ec1944;
}

.main.ct_pg .home{
    color: black;
}

/* blog page */

.blog_page{
    display: none;
}

.main.blog_button .owl-carousel{
    display: none;
}

.main.blog_button .features_section{
    display: none;
}

.main.blog_button .why_us{
    display: none;
}

.main.blog_button .our_section{
    display: none;
}

.main.blog_button .our_gallary_section{
    display: none;
}

.main.blog_button .Unique_design{
    display: none;
}

.main.blog_button .testimonial_main{
    display: none;
}

.main.blog_button .our_updates_sections{
    display: none;
}

.main.blog_button .blog_page{
    display: block;
}

.main.blog_button .blog{
    color: #ec1944;
}

.main.blog_button .home{
    color: black;
}


/* page */

.services_page{
    display: none;
}

.main.page_button .owl-carousel{
    display: none;
}

.main.page_button .features_section{
    display: none;
}

.main.page_button .why_us{
    display: none;
}

.main.page_button .our_section{
    display: none;
}

.main.page_button .our_gallary_section{
    display: none;
}

.main.page_button .Unique_design{
    display: none;
}

.main.page_button .testimonial_main{
    display: none;
}

.main.page_button .our_updates_sections{
    display: none;
}

.main.page_button .services_page{
    display: block;
}

.main.page_button .page{
    color: #ec1944;
}

.main.page_button .home{
    color: black;
}


