
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    font-family: poppins;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* navbar */

.container{
    width: 1200px;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

nav{
    width: 100vw;
    height: auto;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}



.navbar{
    display: flex;
}

.heading{
    display: flex;
    align-items: center;
    color: #ec1944;
    font-size: 28px;
    font-weight: 700;
    padding: 0px 48px 0px 0px;
    /* transition: color 0.3s ease-in !important; */
}

.leftnav{
    display: flex;
    font-size: 0.9rem;
    cursor: pointer;
}



.home{
    padding: 0 12px;
    color: #ec1944;
}

.home:hover{
    color: #ec1944;
}

.about{
    padding: 0 12px;
}
.about:hover{
    color: #ec1944;
}

.blog{
    padding: 0 12px;
}
.blog:hover{
    color: #ec1944;
}

.page{
    padding: 0 12px;
}
.page:hover{
    color: #ec1944;
}

.contact{
    padding: 0 12px;
}
.contact:hover{
    color: #ec1944;
}

.rightnav{
    display: flex;
    align-items: center;

}

.search{
    padding: 0 25px;
    font-size: 1.1em;
    
}

.search{
    padding: 0 25px;
    font-size: 1.1em;
    
}

.phone{
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #ec1944;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.mode{
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.mode i{
    font-size: 1.5em;
}

#moon{
    z-index: 2;
}

#sun{
    color: white;
    position: absolute;
}

.hamburger{
    display: none;
}

/* slide section */

#banner_slider .slide{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* padding: 13rem 0 0 0; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,  0.73)),url(assets/lotus-design-n-print-wRzBarqn3hs-unsplash.jpg);
}

#banner_slider .slide_two{
    background-image: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,  0.73)),url(assets/r-architecture-wDDfbanbhl8-unsplash.jpg);
}

#banner_slider .slide_three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,  0.73)),url(assets/spacejoy-9M66C_w_ToM-unsplash.jpg);
}

#banner_slider .slide_four{
    background-image: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,  0.73)),url(assets/spacejoy-KSfe2Z4REEM-unsplash.jpg);
}

#banner_slider .slide_five{
    background-image: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,  0.73)),url(assets/spacejoy-PyeXkOVmG1Y-unsplash.jpg);
}

#banner_slider .slide_six{
    background-image: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,  0.73)),url(assets/zac-gudakov-ztWpwTEx728-unsplash.jpg);
}

.slide_contant p{
    color: white;
    font-size: 5.25rem;
    font-weight: 700;
    line-height: 5.25rem;
    width: 72%;
    padding: 6rem 0 2.5rem 0;
}

.button_wrap a{
    
    text-decoration: none;
    color: #ec1944;
    font-weight: 600;
}

.button_wrap a:hover{
    color: white;
}

.button_wrap i{
    width: 2rem;
    height: 2rem;
    padding: 8.5px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
    color: #ec1944;
}

/* owldots */

#banner_slider .owl-dots{
    width: 100%;
    bottom: 4%;
    position: absolute;
}


#banner_slider .owl-dots .owl-dot span{
    width: 14px;
    height: 14px;
    background-color:white;
    opacity: 1;
}


#banner_slider .owl-dots .owl-dot.active span{
    background-color:#ec1944;
    opacity: 1;
}

.owl-carousel .owl-item {
    transition: transform 5s ease-in-out;
}

/* owl arrows */

#banner_slider .owl-nav{
    margin: 0;
    line-height: 0;
    height: 0;

}

#banner_slider .owl-nav button{
    margin: 0;
}

#banner_slider .slick-arrow.prev{
    left: 10%;
    opacity: 0.7;

}

#banner_slider .slick-arrow.next{
    right: 81%;
    opacity: 0.7;
}

#banner_slider .slick-arrow{
    position: absolute;
    top:93%;
    display: flex;
    z-index: 9;
    transform: translate(20%,-50%);
    /* border: 1px solid #fff; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 2.7rem;
    height: 2.7rem;
    /* backdrop-filter: blur(66px); */
    background-color: grey;
    
}

#banner_slider .slick-arrow span{
    color:white;
    font-size: 2rem;

}

/* Features section */

.features_section{
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.features{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.features_text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features_text p{
    font-size: 1rem;
    color: #ec1944;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.features_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: 43%; 
    top: 65%;
}

.features_text h3{
    font-size: 2.5rem;
    width: 65%;
    margin: auto;
    padding: 1rem 0 3rem 0;
}

.cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.features_cards{
    width: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* border:2px solid #ec1944; */
    transition: all 0.4s ease;
}

.features_cards.sign_card .image{
    background-color: #ec1944;
}
.features_cards.sign_card svg{
    fill: white;
}

.features_cards:hover.sign_card .image{
    background-color: #F5F1F2;
}
.features_cards:hover.sign_card svg{
    fill: #ec1944;
}

.features_cards svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: #ec1944;
    transition: fill 0.3s ease;
}

.features_cards .image{
    width: 120px;
    height: 120px;
    background-color: #F5F1F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.4s ease;
}

.features_cards:hover .image{
    background-color: #ec1944;
    transform:translateY(-5%);
}


.features_cards:hover svg{
    fill: #F5F1F2;
}

.features_cards h4{
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 0;
}

.features_cards p{
    font-weight: 300;
    margin-bottom: 24px;
}


.features_cards a{
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition:color 0.3s ease;
}

.features_cards a:hover{
    color:#ec1944;
}

.features_cards i{
    width: 2rem;
    height: 2rem;
    padding: 8.5px;
    border-radius: 50%;
    background-color:#ec1944;
    margin: 0 10px;
    color: white;

    
}

/* why us section */

.banner_whyus{
    background-color: #F5F1F2;
    height: auto;
}

.why_contant{
    display: flex;
    padding: 7rem 0;
}

.why_text{
    width: 50%;
    height: auto;
}

.why_images{
    width: 50%;
    height: auto;
}

.why_text p{
    font-size: 0.9rem;
    color: #ec1944;
    font-weight: 600;
    position: relative;
    display: flex;
    left: 13%;
    padding-bottom: 1.7rem;
}

.why_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: -12%; 
    top: 34%;
}

.why_text h3{
    font-size: 2.5rem;
    line-height: 2.9rem;
    padding-bottom: 1.7rem;
}

.why_text .ttt{
    font-weight: 300;
    width: 85%;
    padding-bottom: 5rem;
    
}

.why_text a{
    text-decoration: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #ec1944;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.why_images{
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;
    
}

/* about page */

.ABOUT_INFO_images{
    width:50%;
    height: auto;
    margin-left: 5rem;
}

.about_why_images{
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;
    
}

/* --- xx --- */

.image1{
    grid-row: span 2;
    padding-bottom: 2rem;
}

.image2{
    padding-top: 1.5rem;
}

.image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* our capabalities */

.our_section{
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.our_caps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.our_text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.our_text p{
    font-size: 1rem;
    color: #ec1944;
    font-weight: 600;
    position: relative;
    display: inline-block;
    left: 2.5%;
}

.our_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: 39%; 
    top: 65%;
}

.our_text h3{
    font-size: 2.5rem;
    width: 65%;
    margin: auto;
    padding: 1rem 0 3rem 0;
}

.our_images{
    display: flex;
    width: 100%;
}

.our_cards{
    width: 25%;
    height:auto;
    padding: 0 12px;
}

.our_img{
    width: 100%;
    height: 361px;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0 ;
    
}

.our_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.our_img img:hover{
    transform: scale(1.15); 
}

.our_head{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    /* box-shadow: 0px 5px 12px  #ddd; */
}

/* our gallery */

.our_gallary_section{
    background-color: #F5F1F2;
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.our_images_gallery{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.our_gallary{
    width: 374px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.our_g img{
    object-fit:contain;
    width: 100%;
    height: 100%;
    
}

.our_g{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
}

.our_g::before{
    content: '';
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #ec1944;
    position: absolute;
    z-index: 0;
    transform: translateX(48%) translateY(10%) scale(0);
    transition: .5s all ease-in;
    opacity: 60%;
}

.our_g:hover::before{
    transform: translateX(48%) translateY(10%) scale(5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: scale 0.3s ease-in;
}

.our_g:hover .overlay {
    scale: 1;
}

.overlay i {
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 50%;
}


/* unique design */

.Unique{
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;
    
}

.Unique_image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.Unique_image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.counter_wrap{
    display: flex;
}

.counter{
    display: flex;
}

.c_image{
    width: 60px;
    height:60px;
    background-color: #F5F1F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c_image svg{
    width: 26px;
    height: 26px;   
    fill: #ec1944;
}

.c_text{
    padding: 0 1.2rem;
}

.c_text span{
    font-size: 1.1rem;
    color: #ec1944;
    font-weight: 700;
}

.count{
    font-weight: 700;
    font-size: 2rem;
}



/* our updates */

.our_updates_sections{
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.our_caps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}



.our_updates{
    display: flex;
    width: 100%;
}

.our_updates_cards{
    width: 33%;
    height:auto;
    padding: 0 12px;
}

.our_upd{
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0 ;
    
}

.our_upd img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.our_updates_cards:hover img{
    transform: scale(1.15); 
}

.our_uphead{
    padding: 2rem 2rem;
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    /* box-shadow: 0px 5px 12px  #ddd; */
    height: auto;
}

.interior{
    width: fit-content;
    background-color: #ec1944;
    padding: 2px 10px;
    border-radius: 8px;
    margin-bottom: 1.5rem !important;
}

div.interior p {
    font-size: 13px !important;
    color: #fff;
}

.admin{
    font: 15px;
    color: #404040;
    
}

.admin i{
    color: #ec1944;
    padding-right: 5px;
}

.admin span{
    font: 16px;
    color:#000000;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 30px;
}

.date i{
    color: #ec1944;
    padding-right: 5px;
}

.our_uphead p{
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0;

}

/* footer_section */

.footer_section{
    width: 100%;
    height: auto;
}

.footer_banner{
    background-color: #050003;
    padding: 5rem 0;
}

.footer_content p{
    color: #ddd;
    line-height: 2.2rem;
    font-size: 0.85rem;
}

.footer_content h4{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.int h4{
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}

.int p{
    color: #ddd;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 0.85rem;

}

.int i{
    color:#ec1944;

}

.footer_content{
    display: flex;
    width: 100%;
    column-gap: 5px;
}

.int_ser{
    display: flex;
    width: 50%;
}

.int{
    width: 65%;
    padding: 0 48px 0 12px;
}

.ser{
    width: 35%;
}

.su_new{
    display: flex;
    width: 50%; 
}

.news{
    width: 65%;
}

.sup{
    width: 35%;
}

.last_footer p{
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 2rem 0 0rem 0;
}

.last_footer{
    border-top:  solid rgb(221 221 221 / 17%)
}

.icon{
    display: flex;
    width: 100%;
    padding: 3rem 0;
    
}

.icons{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 7px;

}

.button{
    display: flex;
}

.button input{

    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
}

.send {
    width: 60px;
    height: 51px;
    background-color: #ec1944;
    margin-left: 10px;
    border-radius: 8px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

/* testmonial section */

.testi_per{
    display: flex;
}

.per_image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.per_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.per_name{
    padding: 0.5rem 2rem;
}

.per_name h5{
    color: #ec1944;
    font-size: 1.25rem;
}

.per_name p{
    color: #fff;
    font-size: 0.9rem;
}

.testimonial_main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0,  0.75)),url(assets/spacejoy-9M66C_w_ToM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 4rem 0 6rem 0;
    
}

.testi_content{
    display: flex;
    padding: 1rem 0;
}

.testi_para{
    color: #fff;
    line-height: 1.5rem;
    font-size: 0.9rem;
    padding-bottom: 2rem;
}

.testi_text{
    width: 50%;
    height: 100%;
}

.testi_text p{
    font-size: 0.9rem;
    color: #ec1944;
    font-weight: 600;
    position: relative;
    display: flex;
    left: 13%;
    padding-bottom: 1.7rem;
}

.testi_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: -11%; 
    top: 34%;
}

.testi_text h5{
    font-size: 2.5rem;
    line-height: 2.9rem;
    padding-bottom: 1rem;
    color: #fff;
}

.slide_info{
    width: 55%;
}

/* slider dots */

.testimonial_section .slick-dots{
    
    display: flex;
    position: absolute;
    left: 11%;
    bottom:-35%;
}

.testimonial_section .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ec1944;
}

.testimonial_section .slick-dots li button:before {
    font-family: slick;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* about page */

.about_banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0,  0.8)),url(assets/about_image.jpg);
    width: 100vw;
    height: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.about_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12rem 0 6rem 0;
}

.about_content h1{
    color: white;
    font-size: 50px;
    margin-bottom: 1rem;
}

.about_text #home_toggle{
    color: #ec1944;
    font-weight: 500;
    padding-right: 1rem;

}

.about_text{
    color: white;
    font-weight: 500;
}

.about_text i{
    color: white;
    padding-right: 0.9rem;
    
}

.about_text .home{
    color:#ec1944 !important;
    font-weight: 500;
    cursor: pointer;
}

/* contact page */

.hello_para {
    width: 50%;
    display: flex;
    margin: auto;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 4rem;
    color: black;
}

.contact_us .features_text h3{
    padding-bottom: 1rem;
}

.contact_us .features_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: 41%; 
    top: 65%;
}

.contact_box{
    width: 100%;
    display: flex;
    
}

.contact_info{
    background-color: #ec1944;
    width: 33%;
    padding: 8rem 2rem;
    border-radius: 10px 0 0 10px;
}

.contact_cards{
    display: flex;
    align-items:flex-start;
    margin: 24px;
}


.icon_contact_info{
    background-color: white;
    color: #ec1944;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 24px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_para h4{
    font-size: 1.1rem;
    font-weight: 600;
}

.contact_para span{
    color: white;
    font-size: 0.9rem;
}

.contact_form{
    background-color: #F5F1F2;
    padding: 60px;
    border-radius: 0 10px 10px 0;
    width: 67%;
}

.contact_form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 120px;
    column-gap: 20px;
    row-gap: 20px;
}

.contact_form input{
    padding: 20px;
    /* width:332px; */
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

.contact_message{
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    grid-column: 1 / span 2;
    width: auto !important;
}


.contact_form button{
    padding: 15px 40px;
    color: white;
    background-color: #ec1944;
    border: none;
    border-radius: 10px;
    margin-top: 5rem;
    float: right;
    font-size: 1rem;
    font-weight: 600;
}

/* blog menu */

.blog_menu{
    position: absolute;
    z-index: 2000;
    top: 10%;
    left: 30%;
    display: none;
}

.dropdown{
    background-color:white;
    border: 0.5px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.dropdown ul{
    list-style: none;
    line-height: 2rem;
}

.dropdown ul li:hover{
    color: #ec1944;
    cursor: pointer;
}


.blog_menu.blog_pg{
    display:flex;
}


/* page drop menu */

.page_menu{
    position: absolute;
    z-index: 2000;
    top: 10%;
    left: 40%;
    display: none;
}

.page_menu.page_pg{
    display: flex;
}

/* blog page */

.blog_page{
    width: 100%;
    height: auto;
}

.blog_page .container_blog{
    width: 50%;
    height: auto;
    margin: auto;
}

.blog_page .container_blog .our_updates{
    margin: 6rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog_page .container_blog .our_updates .our_updates_cards{
    width: 100%;
    margin: 4rem 0;
}

.blog_page .container_blog .our_updates .our_updates_cards .our_upd{
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0 ;
    
}

.blog_page .container_blog .our_updates .our_updates_cards .our_upd img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.blog_page .container_blog .our_updates .our_updates_cards:hover img{
    transform: scale(1.15); 
}

.our_uphead{
    padding: 2rem 2rem;
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    /* box-shadow: 0px 5px 12px  #ddd; */
    height: auto;
}

.blog_page .container_blog .why_text{
    margin: 3rem 0;
}

/* service page */

.services_page #second2{
    width:50%;
    height: auto;
    margin-right: 5rem;
    margin-left: 0;
}

.our_updates_cards.plan{
    padding: 2rem 2rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 0 1rem;
}

.our_updates_cards.plan p{
    background-color: #ec1944;
    color:white;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
}

.our_updates_cards.plan .black_bg{
    background-color:black;
    padding: 0.8rem 0;
    margin-bottom:0;
}


.our_updates_cards.plan h4{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #ec1944;
}

.our_updates_cards.plan h4 sub{
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
}

.our_updates_cards.plan ul{
    list-style-type: none;
    margin-bottom: 2rem;
    line-height: 2.2rem;
    font-size: 0.9rem;
    font-weight:300;

}

.blog_page .our_updates_cards.plan i{
    color: #ec1944;
    line-height: 2.2rem;
    font-size: 0.9rem;
    margin-right: 1rem;

}


/* for mobile view */

@media screen and (max-width: 741px) and (min-width: 250px){

    /* navbar */

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 72px;
        right: 10px;
        background: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width:95%;
        border-radius: 5px;
        padding: 0.5rem 0 1rem 0;

        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        visibility: hidden;
        pointer-events: none; 
    }

    .search.dark i{
        color: black;
    }
    

    #cross{
        position: absolute;
        font-size: 2.5rem;
        opacity: 0;
        color: #ec1944;
        z-index: -2;
    }

    #cross.active{
        position: absolute;
        opacity: 1;
        z-index: 2;
    }

    #line.active{
        z-index: -2;
        opacity: 0;
    }

    #line{
        font-size: 2.1rem;
        opacity: 1;
        color: #ec1944;
        z-index: 2;
    }

    .menu.active{
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
    }

    .leftnav{
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    .aks{
        padding: 0.5rem 0;
    }

    .phone{
        padding: 12px 30px;
        font-size: 0.8rem;
        background-color: #ec1944;
        border-radius: 10px;
        font-weight: 500;
        color: white;
    }

    .container{
        width: 290px;
        margin: auto;
    }
    .heading{
        padding: 0%;
        font-size: 1.9em;
    }

    .main nav{
        padding: 12px 0;
        align-items: center;
    }

    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        cursor: pointer;
        /* background-color: #ec1944; */
        color: white;
        width: auto;
        height: 34px;
        padding: 0.5rem;
        margin-top: 4px;
        border-radius: 5px;
        
    }
    

    .mode{
        font-size: 1.2rem;
        padding: 0 17px;
    }

    /* owl-carousel */
    .slide_contant p{
        color: white;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        width: 100%;
        padding: 16rem 0 2.5rem 0;
    }

    .slide_contant{
        height: 100vh;
    }

    .button_wrap a{
    
        font-size: 1.2rem;
        font-weight: 600;
    }

    .button_wrap i{
        padding: 7px;
    }

    #banner_slider .owl-nav{
        display: none;
    }

    #banner_slider{
        height: 95vh;
    }
    
    /* features section */

    .features_section{
        padding: 3.5rem 0;
    }
    
    .features_text p{
        font-size: 1rem;
        color: #ec1944;
        font-weight: 600;
        position: relative;
        display: inline-block;
    }
    
    .features_text p::before{
        left: 25%; 
        top: 65%;
    }
    
    .features_text h3{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .cards{
        width: 100%;
        row-gap: 20px;
        flex-wrap: wrap;
        
    }
    
    .features_cards{
        width: 100%;
        
    }
    
   
    .features_cards h4{
        font-size: 1.rem;
    }

    /* why us section */

    .why_contant{
        display: flex;
        padding: 3.5rem 0;
        flex-direction: column;
    }
    
    .why_text{
        width: 100%;
    }
    
    .why_images{
        width: 100%;
        padding: 4rem 0 1.3rem 0;
    }

    /* about page */

    .ABOUT_INFO_images{
        width: 100%;
        padding: 4rem 0 1.3rem 0;
        margin-left: 0rem;
    }

    .about_why_images{
        width: 100%;
        padding: 4rem 0 1.3rem 0;
    }

    /* --- xx --- */
    
    .why_text p{
        left: 25%;
        padding-bottom: 1.3rem;
    }
    
    .why_text p::before{
        left: -22%; 
        top: 34%;
    }
    
    .why_text h3{
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-bottom: 1.3rem;
    }
    
    .why_text .ttt{
        font-weight: 300;
        width: 85%;
        padding-bottom: 2.5rem;
        
    }
    
    .why_text a{
        padding: 12px 22px;
        font-size: 1rem;
    }

    /* our section */

    .our_section{
        padding: 3rem 0;
    }

    .our_text p{
        font-size: 1rem;
        color: #ec1944;
        font-weight: 600;
        position: relative;
        display: inline-block;
        left: 10.5%;
    }
    
    .our_text p::before{
        content: "";
        width: 50px;
        height: 1px; 
        background-color: #ec1944; 
        position: absolute;
        left: 6%; 
        top: 65%;
    }
    
    .our_text h3{
        font-size: 1.5rem;
        width: 65%;
        margin: auto;
        padding: 1rem 0 2.5rem 0;
    }

    .our_images{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .our_cards{
        width: 50%;
        height:auto;
        padding: 22px 8px;
    }

    .our_img{
        height: 174px;
    }

    .our_head{
        text-align: center;
        padding: 1.3rem 0;
        font-size: 1rem;
       
    }

    /* our gallery */

.our_gallary_section{
    background-color: #F5F1F2;
    width: 100%;
    height: auto;
    padding: 3rem 0;
}

.our_gallary{
    width: 133px;
    height: 89px;
    overflow: hidden;
    border-radius: 10px;
}

.overlay i {
    font-size: 15px;
    
}

/* unique */
.Unique{
    width: 100%;
}


.counter{
    display: flex;
    flex-direction: column;
}

.c_image{
    margin: 0 1.2rem;
}

.c_text{
    padding-bottom: 4rem;
}

/* update section */

.our_updates{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.our_updates_cards{
    width: 100%;
    height:auto;
    padding: 12px 0px;
    
}

.admin span{
    
    padding-right: 10px;
}

.date i{
    color: #ec1944;
    padding-right: 5px;
}

.our_uphead p{
    font-size: 0.9rem;
    font-weight: 700;
    margin: 10px 0;

}

.interior p{
    font-size: 12px;
    
}

/* testimonial section */

.testimonial_main{
    padding: 3rem 0 6rem 0;
    
}

.testi_content{
    display: flex;
    flex-direction: column;
}

.testi_text{
    width: 100%;
}

.testi_text p{
    left: 25%;
    padding-bottom: 1.3rem;
}

.testi_text p::before{
    left: -22%; 
    top: 34%;
}

.testi_text h5{
    font-size: 1.6rem;
    line-height: 2.2rem;
    
}

.slide_info{
    width: 100%;
}

.testimonial_section .slick-dots{
    
    display: flex;
    position: absolute;
    left: 5%;
    bottom:-25%;
}

/* footer_section */

.footer_banner{
    padding: 3rem 0;
}

.footer_content p{
    color: #ddd;
    line-height: 1rem;
    font-size: 0.6rem;
}

.footer_content h4{
    color: white;
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.int h4{
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
}

.int p{
    color: #ddd;
    line-height: 1.3rem;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;

}

.footer_content{
    flex-wrap: wrap;
}

.int_ser{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.int{
    width: 100%;
   padding: 0 12px 0 0;
}

.ser{
    width: 100%;
}

.su_new{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    padding: 2rem 0;
}

.news{
    width: 100%;
    padding-bottom: 1rem;
}

.sup{
    width: 100%;
    padding-bottom: 2rem;
}

.last_footer p{
    padding: 1.5rem 0 0rem 0;
    font-size: 0.8rem;
}

.last_footer{
    border-top:  solid rgb(221 221 221 / 17%)
}

.icon{
    display: flex;
    width: 100%;
    padding: 1rem 0;
    
}

.icons{
    margin-right: 7px;
}

.button input{
    padding: 6px;
    height: auto;
    margin-bottom: 5px;
}

.send {
    height: auto;
    margin-bottom: 5px;
}

/* contact page */

.features_text .hello_para {
    width: 100%;
    font-size: 0.9rem;
}

.contact_us .features_text p::before{
    display: none;
}

.contact_box{
    flex-wrap: wrap;
}
.contact_box .contact_info{
    width: 100%;
    padding:0;
    border-radius: 10px;
}

.contact_box .contact_form{
    padding: 20px;
    border-radius:10px;
    width: 100%;
    margin-top: 1rem;
}

.contact_box .contact_form form{
    display: flex;
    flex-direction: column;
}

.contact_box .contact_form form input{
    padding: 10px;
    width:auto;
    border-radius: 10px;
    font-size: 0.8rem;
}

/* blog page */

.blog_page .container_blog{
    width: 88%;
    height: auto;
    margin: auto;
}

.blog_page .container_blog .our_updates{
    margin: 3rem 0;
}

.blog_page .container_blog .our_updates .our_updates_cards{
    margin: 2rem 0;
}

.blog_menu .blog_button{
    font-size: 0.9rem;
}

.blog_page .container_blog .our_updates .our_updates_cards {
    width: 100%;
    margin: 0.7rem 0;
}

/* service page */

.our_updates_cards.plan li{
    font-size: 0.7rem;
}

.services_page #second2 {
    width:100%;
    height: auto;
}

.our_updates_cards.plan{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

}

/* for tab view */

@media screen and (max-width: 1017px) and (min-width: 742px){

    /* navbar */
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 72px;
        right: 10px;
        background: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width:97%;
        border-radius: 5px;
        padding: 0.5rem 0 1rem 0;

        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        visibility: hidden;
        pointer-events: none; 

        

    }

    .menu.active{
        opacity: 1;

        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
    }

    #cross{
        position: absolute;
        font-size: 2.5rem;
        opacity: 0;
        color: #ec1944;
        z-index: -2;
    }

    #cross.active{
        position: absolute;
        opacity: 1;
        z-index: 2;
    }

    #line.active{
        z-index: -2;
        opacity: 0;
    }

    #line{
        font-size: 2.1rem;
        opacity: 1;
        color: #ec1944;
        z-index: 2;
    }

    .leftnav{
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    .aks{
        padding: 0.5rem 0;
    }

    .container{
        width: 720px;
        margin: auto;
        padding: 0 15px;
        position: relative;
    }

    .heading{
        font-size: 1.9em;
    }

    .main nav{
        padding: 12px 0;
    }

    .hamburger{
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        cursor: pointer;
        color: white;
        width: auto;
        height: 34px;
        padding: 0.5rem;
        margin-top: 4px;
        border-radius: 5px;
        position: absolute;
        right: 0;
    
    }

    .mode{
        font-size: 1.7rem;
        position: absolute;
        right: 8%;
        top: 5%;
        
    }

    .slide_contant p{
        color: white;
        font-size: 4rem;
        font-weight: 600;
        line-height: 4rem;
        width: 100%;
        padding: 6rem 0 2.5rem 0;
    }

    #banner_slider .slick-arrow.prev{
        left: 0%;
    
    }
    
    #banner_slider .slick-arrow.next{
        right: 82%;
        
    }

    /* features section */

    .features_section{
        padding: 5rem 0;
    }
    
    .features_text p{
        font-size: 1rem;
        color: #ec1944;
        font-weight: 600;
        position: relative;
        display: inline-block;
    }
    
    .features_text p::before{
        left: 38%; 
        top: 65%;
    }
    
    .features_text h3{
        font-size: 2rem;
        width: 100%;
    }
    
    .cards{
        width: 100%;
        row-gap: 20px;
        flex-wrap: wrap;
        
    }
    
    .features_cards{
        width: 50%;
        
    }
    
    .features_cards h4{
        font-size: 1.rem;
    }

        /* why us section */

    .why_contant{
        display: flex;
        padding: 4.5rem 0;
        flex-direction: column;
    }
    
    .why_text{
        width: 100%;
    }
    
    .why_images{
        width: 100%;
        padding: 4rem 0 1.3rem 0;
    }
    
    .why_text p{
        left: 9%;
        padding-bottom: 1.3rem;
    }
    
    .why_text p::before{
        left: -9%; 
        top: 34%;
    }
    
    .why_text h3{
        font-size: 1.8rem;
    }
    
    .why_text .ttt{
        width: 95%;
    }
    
    .why_text a{
        padding: 12px 30px;
        font-size: 1rem;
    }

    /* our section */

    .our_section{
        padding: 3.5rem 0;
    }

    .our_text p{
        left: 3.5%;
    }
    
    .our_text p::before{
        left: 31%; 
        top: 65%;
    }
    
    .our_text h3{
        font-size: 2rem;
        width: 65%;
        margin: auto;
        padding: 1rem 0 2.5rem 0;
    }

    .our_images{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .our_cards{
        width: 50%;
        padding: 22px 10px;
    }

    .our_img img{
        height: 437px;
    }

    .our_head{
        text-align: center;
        padding: 2rem 1rem;
        font-size: 1.2rem;
       
    }

        /* our gallery */

.our_gallary_section{
    padding: 5rem 0;
}

.our_gallary{
    width: 333px;
    height: 222px;
    
}

.overlay i {
    font-size: 25px;  
}

/* unoque */

.Unique{
    width: 100%;
}


.counter{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
}

.c_image{
    margin: 0 1.2rem;
}

.c_text{
    padding-bottom: 4rem;
}

.count{
    font-size: 2.5rem;
}

/* update section */

.our_updates{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.our_updates_cards{
    width: 50%;
    height:auto;
    padding: 22px 12px;
    
}

.admin span{
    padding-right: 10px;
}

.date i{
    color: #ec1944;
    padding-right: 5px;
}

.our_uphead p{
    font-size: 0.9rem;
    font-weight: 700;
    margin: 10px 0;

}

.interior p{
    font-size: 12px;
    
}

/* testimonial section */

.testimonial_main{
    padding: 4rem 0 4rem 0;
    
}

.testi_content{
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
}

.testi_text{
    width: 100%;
}

.testi_text p{
    left: 9%;
    padding-bottom: 1.3rem;
}

.testi_text p::before{
    left: -9%; 
    top: 34%;
}

.testi_text h5{
    font-size: 1.8rem;
}


.testi_text a{
    padding: 12px 30px;
    font-size: 1rem;
}

.slide_info{
    width: 100%;
}

.testimonial_section .slick-dots{
    
    display: flex;
    position: absolute;
    left: 5%;
    bottom:-25%;
}

/* contact page */

.contact_box{
    flex-wrap: wrap;
}
.contact_box .contact_info{
    width: 100%;
    padding:0;
    border-radius: 10px;
}

.contact_box .contact_form{
    padding: 20px;
    border-radius:10px;
    width: 100%;
    margin-top: 1rem;
}

.contact_box .contact_form form{
    display: flex;
    flex-direction: column;
}

.contact_box .contact_form form input{
    padding: 10px;
    width:auto;
    border-radius: 10px;
    font-size: 0.8rem;
}

}

/* for small laptops */

@media screen and (max-width: 1390px) and (min-width: 1018px){

    .container{
        width: 950px;
    }

    .phone{
        padding: 12px 30px;
        font-size: 0.9rem;
        background-color: #ec1944;
        border-radius: 10px;
        font-weight: 500;
        color: white;
    }

    .features_text h3{
        font-size: 2rem;
        width: 80%;
    }

    .features_text p::before{
        left: 41%; 
        top: 65%;
    }

    .why_text h3{
        font-size: 1.9rem;
    }

    .our_head{
        text-align: center;
        padding: 2rem 1rem;
        font-size: 1.1rem;
       
    }

    .our_img{
        height: 281px;
    }

    .our_text h3{
        font-size: 1.8rem;
        width: 65%;
        margin: auto;
        padding: 1rem 0 2.5rem 0;
    }

    /* our gallery */

    .our_gallary_section{
    padding: 5rem 0;
    }

    .our_gallary{
    width: 294px;
    height: 196px;
    }   

    .overlay i {
    font-size: 25px;  
    }

    .count{
    font-size: 2.5rem;
    }

    .Unique{
    height: 281px;
    }

    .our_uphead {
    padding: 15px;

    }

    .interior p{
    font-size: 0.8rem;
    }

    /* testimonial section */

    .testi_text{
        width: 80%;
        height: 100%;
    }

    .testi_text h5{
        font-size: 1.9rem;
        width: 80%;
    }

    .slide_info{
        width:65%;
    }

    .testimonial_section .slick-dots{
    
        display: flex;
        position: absolute;
        left: 5%;
        bottom:-35%;
    }

}
