body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 700px;
    background: #fff;
    border-radius: 10px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* left part */

.img_section {
    flex: 1;
    background: #0043B6;
    color: white;
    width: 48.78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.img_section .plusimg img{
    width: 100%;
    height: 100%;
}

.img_section .drimg img{
    width: 100%;
    height: 100%;
}

.img_section .text {
    letter-spacing: 2px;
    font-size: 1em;
}

/* right part */

.details_section{
    flex: 1;
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 51.22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 0;
}

.details_section img{
    position: absolute;
    right:0%;
    z-index:-1;
    /* width: 1%; */
}


.details_section .righttext h1{
    font-weight: bolder;
    font-size: 2.5em;
    color: #0043B6;
    letter-spacing: 2px;
    margin-bottom: 0%;
    z-index: 1;
}

.details_section .righttext{
    text-align: center;
}

.details_section .righttext span{
    color: #0043B6;
    font-weight: 700;
    letter-spacing: 2px;
}

.details_section form{
    width: 65%;
    height: 65%;
    margin-top: 5%;
}

.details_section form .mobile{
    position: relative;
}

.details_section form .mobile img{
    position: absolute;
    left: 13px;
    padding-top: 5px;
}

.details_section form .mobile label{
    font-size: 17px;
    line-height: 3rem;
    
}

.details_section form .password{
    position: relative;
}

.details_section form .password .image1 img{
    position: absolute;
    left: 13px;
    padding-top: 5px;
}

.details_section form .password .image2 img{
    position: absolute;
    right: 0%;
    padding-top: 7.7px;
}

.details_section form .password label{
    font-size: 17px;
    line-height: 3rem;
}

.details_section form .mobile input{
    width: 93%;
    padding: 10px 0px 10px 50px;
    border: 2px solid #3498db;
    border-radius: 0%;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease-in-out;
}

.details_section form .password input{
    width: 93%;
    padding: 10px 0px 10px 50px;
    border: 2px solid #3498db;
    border-radius: 0%;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease-in-out;
}


.details_section form .checkbox1 label{
    color: #888A8A; 
}

.details_section form .checkbox2 label{
    color: #888A8A;
}

.details_section form .checkbox1 input{
    display: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

.details_section form .checkbox1 a{
    text-decoration: none;
    color: #0043B6;
    float: right;
    font-size: large;

}

.details_section form .checkbox2 input{
    display: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

.details_section form .loginbtn button{
    width: 106.3%;
    padding: 10px;
    background-color: #0043B6;
    color: #fff;
    border-radius: 4px;
    font-size: large;
    font-family: poppins;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

.details_section form .signup p{
    text-align: center;
    letter-spacing: 1.5px;
}

.details_section form .signup a{
    text-decoration: none;
    color: #0043B6;
}

@media (max-width: 900px) {
    .wrapper {
        flex-direction: row ;
        width: 100%;
        margin:auto ;
    }

    .img_section, .details_section {
        flex: none;
        width: 100%;
        margin: auto;
        z-index: 0;
        
    }

    .img_section .text {
        letter-spacing: 2px;
        font-size: 0.7em;
    }

    .details_section .righttext h1{
        font-size: 1.5em;
    }

    .details_section img{
        z-index: -1;
    }
}