.heading{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: #03045E;
}

.search{
    display: flex;
    justify-content: center;
}

.search input{
    width: 50%;
    padding: 20px 50px;
    font-size: larger;
    border:2px solid #03045E;
    border-radius: 15px 0 0 15px;
    border-right: 0;

}

.search input::placeholder{
    color: #03045E;
    letter-spacing: 2px;
}

.search button{
    text-decoration: none;
    border:2px solid #03045E;
    width: 4rem;
    background-color: aliceblue;
    border-radius: 0 15px 15px 0;
}

.search i{
    font-size:1.5rem;
}