@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family:"IBM Plex Sans";
}

.container{
    max-width: 1285px;
    margin: auto;
    position: relative;
    
}

/* navbar */

.navbar{
    width: 100%;
    height: auto;
    background-color: #03045E;

}

.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:auto;
}

.topbar h2{
    color: #FFFFFF;
    display: inline;
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;

}

.logo_heading{
    transition: transform 0.5s ease-in-out;;
}

.logo_heading:hover{
    transform: scale(1.2);
}

.topbar button{
    background-color: #03045E;
    color: #FFFFFF;
    border: 1px solid #E7F0F7;
    width: 200px;
    height: auto;
    padding: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    position: relative;
}

.helpbtm{
    display: flex;
    gap: 30px;

}

.hp{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hp:hover{
    transform: scale(0.8);

}

.ls{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ls a{
    text-decoration: none;
    color: #E7F0F7;
}

.hp a{
    text-decoration: none;
    color: #E7F0F7;
}

.ls:hover{
    transform: scale(0.8);

}

.helpbtm img{
    position: absolute;
    left: 17px;
    top: 14px;
}

.navbar2 {
    height: auto;
    background-color: #E7F0F7;
}

.btmbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0px;
}

.leftpart{
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.rightpart{
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.btmbar a{
    text-decoration: none;
    color: #4B4B4B;
    font-weight: 600;
    font-size: large;
}

.home:hover{
    text-decoration: underline;
    transform: scale(0.8);
}

.home{
    transition:all 0.2s ease-in-out;
}

.about:hover{
    text-decoration: underline;
    transform: scale(0.8);
}

.about{
    transition:all 0.2s ease-in-out;
}

.contact:hover{
    text-decoration: underline;
    transform: scale(0.8);
}

.contact{
    transition:all 0.2s ease-in-out;
}

.services:hover{
    text-decoration: underline;
    transform: scale(0.8);
}

.services{
    transition:all 0.2s ease-in-out;
}
/* hero section */

.banner{
    background-image:url("images/Rectangle\ 55.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

.Ellipse{
    display: inline;
    position: static;
}

.hero_contents{
    display: flex;
}

.para_section {
    display: flex;
    flex-direction: column;
    padding: 9.3% 0;
    gap: 20px; ;
}

.para_section h2{
    color: #FFFFFF;
    font-size: 3em;
    font-weight:500;
    line-height: 0.5;
    animation-name: slide_right;
    animation-duration: 3s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide_right{
    from{
        transform:translateX(50%)
    }

    to{
        transform:translateX(0%)
    }
}
.para_section span{
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 900;
    animation-name: slide_right;
    animation-duration: 3s;
    animation-delay: 80ms;
    animation-iteration-count: 1;
}

.para_section p{
    color: #FFFFFF;
    font-weight: 300;
    font-size: large;
    line-height: normal;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}

.images_section img{
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}

/* our section */

.cards_heading{
    display: flex;
    justify-content: center;
    padding: 55px 0;
    color: #0043B6;
    font-size: x-large;
    text-shadow: 2px 5px #ababab;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: auto;

}

.cardx{
    width: 358px;
    height: 358px;
    border: 3.5px solid #1D76EA;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation-name: appear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.cardx:hover{
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.card4{
    width: 358px;
    border: 1px solid #FFFFFF;
}

.im_section{
    display: flex;
    justify-content: center;
    padding: 25px;
    border-bottom: 3.5px solid #1D76EA;
}

.text_section{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    
}

.text_section h4 {
    padding: 15px 0;
    color: #0043B6;
    font-size: 1.7em;
    font-weight: 500;
}

.text_section p{
    color: #1D76EA;
    line-height: 1.5em;
    font-size: 1.1em;
}

/* hero section2 */

.banner2{
    background-image:url("images/Rectangle\ 57.png");
    background-size: cover;
    display: flex;
    align-items: center;
    height: auto;
    padding: 55px 0;
    margin: 55px 0;
}

.container_section2{
    width: 1050px ;
    margin: auto;
}

.hero_contents2{
    display: flex;
    column-gap: 55px;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 9.3% 0;
    gap: 20px; ;
}

.right h2{
    color: #FFFFFF;
    font-size: 3em;
    font-weight:500;
    line-height: 0.5;
    animation-name: appear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.right span{
    color: #1D76EA;
    font-size: 3em;
    font-weight: 900;
    animation-name: appear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.right p{
    color: #888A8A;
    font-weight: 300;
    font-size: large;
    line-height: normal;
}

.left img{
    animation: slide_left;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

@keyframes slide_left{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }

    to{
       opacity: 1;
        scale: 1;
    }
}

/* footer section */

.banner3{
    background-image:url("images/Rectangle\ 20.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 55px 0;
    color: #FFFFFF;
}

.text_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.logo{
    width:23%;
}
.logo h3{
    font-size: 2.2em;
    font-weight:600;
    padding-bottom: 1.2em;
}

.logo p{
    font-size: large;
    font-weight: 200;
}
.service{
    width:15%;
}

.service h3{
    font-size: 1.4em;
    font-weight: 500;
    padding-bottom: 1.2em;
}

.service p{
    font-size: large;
    font-weight: 200;
    line-height: 2em;
}
.address{
    width:15%;
}

.address h3{
    font-size: 1.4em;
    font-weight: 500;
    padding-bottom: 1.2em;
}

.address p{
    font-size: large;
    font-weight: 200;
    line-height: 2em;
}

.map iframe{
    width: 274px;
    height: 240px;
}

.footer1{
    display: flex;
    padding: 2% 0;
    justify-content: center;
}

.footer1 .getintouch{
    width: 945px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.getintouch h3{
    font-size: 1.4em;
    font-weight: 500;
}

.getintouch a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: large;
    font-weight: 200;
}
.getintouch p{
    font-size: large;
    font-weight: 200;
}
.border{
    width: 100%;
    border: 1px solid #F0B70B;
}
.footer2{
    display: flex;
    font-size: 1.4em;
    font-weight: 300;
    padding-top: 10%;
}

/* for mobile view */

@media screen and (max-width: 741px) and (min-width: 250px){

    .container{
        width: 300px;
    }

    .topbar{
        padding: 5px 0;
    }

    .topbar h2{
        display: inline;
        font-weight: 100;
        font-size: 2rem;
    }

    .topbar button{
        background-color: #03045E;
        color: #FFFFFF;
        border: 1px solid #E7F0F7;
        width: 80px;
        height: auto;
        padding: 8px 0px;
        border-radius: 10px;
        font-size: 0.7em;
    }

    .helpbtm img{
        display: none;
    }

    .helpbtm{
        gap: 5px;
    }

    .btmbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0px;
    }

    .btmbar a{
        font-size: 0.9em;
        line-height: 1.2rem;
    }

    .rightpart{
        gap: 20px;
    }

    .leftpart{
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        gap: 17px;
    }

    /* hero section */
    
    .banner{
        width: 100%;
        height: auto;
    }
    .Ellipse{
        display: none;
    }

    .hero_contents{
        display: flex;
        flex-wrap: wrap;
    }

    .para_section {
        padding: 10% 0 5% 0;
        gap: 10px; ;
        width: 100%;
    }

    .para_section h2{
        text-align: center;
        color: #FFFFFF;
        font-size: 1.7em;
    }

    .para_section span{
        text-align: center;
        color: #FFFFFF;
        font-size: 1.7em;
        font-weight: 900;
    }

    .para_section p{
        color: #FFFFFF;
        font-size: 0.8em;
        letter-spacing: 1px;
        border:2px solid #03045E;
        text-align: justify;
        border-radius: 10px;
        padding: 4px;
        box-shadow: 2px 5px #03045E;
    }

    .images_section img{
        width: 250px;
    }

    /* our services */

    .cards_heading{
        padding: 20px 0;
        font-size: 100%;
        text-shadow: 1px 2.5px #ababab;
    }
    
    .cards{
        gap: 25px;

    }

    .cardx{
        width: 230px;
        height: 230px;
        border: 2px solid #1D76EA;
        border-radius: 10px;
    }

    .card4 {
        width: 230px;
        height: 230px;
        border: 1px solid #FFFFFF;
    }
    
    .card4 img{
        width: 230px;
        height: 230px;
        border: 1px solid #FFFFFF;
    }

    .im_section{
        padding: 8px;
        border-bottom: 2px solid #1D76EA;
    }

    .im_section img{
        width: 25%;
        
    }
    

    .text_section h4 {
        padding: 7px 0;
        color: #0043B6;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .text_section p{
        line-height: 1.1em;
        font-size: 0.9rem;
        font-weight: 200;
    }

     /* hero section2 */

     .banner2{

        padding: 50px 0;
        margin: 50px 0;
    }
    
    .container_section2{
        width: 300px ;
    }
    
    .hero_contents2{
        display: flex;
        flex-wrap: wrap;
    }
    .left img{
        width: 300px;
        
    }
    .left{
        display: flex;
        justify-content: center;
        
    }
    
    .right {
        display: flex;
        flex-direction: column;
        padding: 5% 0;
        gap: 10px; 
    }
    
    .right h2{
        padding: 15px 0 5px 0;
        text-align: center;
        font-size: 2em;

    }
    
    .right span{
        text-align: center;
        font-size: 2em;

    }
    
    .right p{
        font-size:0.8em;
        text-align: justify;
        border:2px solid #03045E;
        border-radius: 10px;
        box-shadow: 2px 5px #03045E;
        padding: 4px;
    }

     /* footer section */

     .banner3{

        padding: 15px 0;
 
    }
    
    .text_footer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap:5px;
   
    }
    
    .logo{
        width:100%;
    }
    .logo h3{
        font-size: 2em;
        font-weight:600;
        padding: 20px 0 10px 0;
    }
    
    .logo p{
        font-size: 1em;
        font-weight: 200;
        padding: 10px 0 20px 0;
    }
    .service{
        width:100%;
    }
    
    .service h3{
        font-size: 1.5em;
        padding: 20px 0 10px 0;
    }
    
    .service p{
        font-size: 1em;
 
    }
    .address{
        width:100%;
    }
    
    .address h3{
        font-size: 1.5em;
        padding: 20px 0 10px 0;

    }
    
    .address p{
        font-size: 1em;
        font-weight: 200;
        line-height: 1.3em;
    }

    .getintouch{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .getintouch h3{
        font-size: 1.5em;
        font-weight: 500;
    }
    
    .getintouch a{

        font-size: 0.8em;
   
    }
    .getintouch p{
        font-size: 0.8em;
    }
    .footer2{
        font-size: 0.5em;
    }
    .map iframe{
        width: 200px;
        height: 200px;
        padding: 20px 0 20px 0;
    }

    .footer2{
        font-size:1rem;
    }

}

/* tab view */

@media screen and (max-width: 1387px) and (min-width: 742px) {

    /* navbar1 */

    .container{
        width: 620px;
    }

    .topbar{
        padding: 5px 0;
    }

    .topbar h2{
        display: inline;
        font-weight: 200;
        font-size: x-large;
    }

    .topbar button{
        background-color: #03045E;
        color: #FFFFFF;
        border: 1px solid #E7F0F7;
        width: 100px;
        height: auto;
        padding: 12px 0px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 0.7em;
    }

    .helpbtm img{
        display: none;
    }

/* navbar2 */
    
    .btmbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }

    .btmbar a{
        font-size: 0.7em;
    }

    .rightpart{
        gap: 17px;
    }

    .leftpart{
        gap: 17px;
    }

    /* hero section */
    
    .banner{
        width: 100%;
        height: auto;
    }
    .Ellipse{
        display: inline;
        position: static;
        width: 35px;
        height: fit-content;
    }

    .para_section {
        padding:5.5% 0;
        gap: 1px;
    }

    .para_section h2{
        color: #FFFFFF;
        font-size: 30px;
    }

    .para_section span{
        color: #FFFFFF;
        font-size: 2.5em;
        font-weight: 900;
    }

    .para_section p{
        color: #FFFFFF;
        font-size: 12px;
    }

    .images_section img{
        width: 350px;
    }

    /* our service */

    .cardx{
        width: 200px;
        height: 200px;
        border: 3.5px solid #1D76EA;
        border-radius: 10px;
    }

    .card4 {
        width: 200px;
        height: 200px;
        border: 1px solid #FFFFFF;
    }
    
    .card4 img{
        width: 200px;
        height: 200px;
        border: 1px solid #FFFFFF;
    }

    .im_section{
        display: flex;
        justify-content: center;
        padding: 10px;
        border-bottom: 3.5px solid #1D76EA;
        width: 100%;
        height: auto;
    }

    .im_section img{
        width: 25%;
    }
    
    .text_section{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
        
    }
    
    .text_section h4 {
        padding: 5px 0;
        color: #0043B6;
        font-size: 1em;
        font-weight: 500;
    }
    
    .text_section p{
        color: #1D76EA;
        line-height: 1em;
        font-size: 0.8em;
    }

    /* hero section2 */

    .banner2{
        background-image:url("images/Rectangle\ 57.png");
        background-size: cover;
        display: flex;
        align-items: center;
        height: auto;
        padding: 55px 0;
        margin: 55px 0;
    }
    
    .container_section2{
        width: 620px ;
    }
    
    .hero_contents2{
        display: flex;
        column-gap: 25px;
    }
    .left img{
        width: 200px;
    }
    
    .right {
        display: flex;
        flex-direction: column;
        padding: 5% 0;
        gap: 20px; ;
    }
    
    .right h2{
        color: #FFFFFF;
        font-size: 2em;
        font-weight:500;
        line-height: 0.5;
    }
    
    .right span{
        color: #1D76EA;
        font-size: 2.5em;
        font-weight: 900;
    }
    
    .right p{
        color: #888A8A;
        font-size: 12px;
    }

    /* footer section */

    .banner3{
        background-image:url("images/Rectangle\ 20.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 25px 0;
        color: #FFFFFF;
    }
    
    .text_footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
        width: 100%;
        height: auto;
        justify-content: space-between;
    }
    
    .logo{
        width:23%;
    }
    .logo h3{
        font-size: 1.5em;
        font-weight:400;
        padding-bottom: 0.5em;
    }
    
    .logo p{
        font-size: 0.7em;
        font-weight: 200;
    }
    .service{
        width:8%;
    }
    
    .service h3{
        font-size: 0.8em;
        font-weight: 500;
        padding-bottom: 0.5em;
    }
    
    .service p{
        font-size: 0.7em;
        font-weight: 200;
        line-height: 1.2em;
    }
    .address{
        width:14%;
    }
    
    .address h3{
        font-size: 0.8em;
        font-weight: 500;
        padding-bottom: 0.5em;
    }
    
    .address p{
        font-size: 0.7em;
        font-weight: 200;
        line-height: 1.2em;
    }
    
    .footer1{
        display: flex;
        padding: 2% 0;
        justify-content: center;
    }
    
    .footer1 .getintouch{
        width: 945px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .getintouch h3{
        font-size: 0.8em;
        font-weight: 500;
    }
    
    .getintouch a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.7em;
        font-weight: 200;
    }
    .getintouch p{
        font-size: 0.7em;
        font-weight: 200;
    }
    .border{
        width: 100%;
        border: 1px solid #F0B70B;
    }
    .footer2{
        display: flex;
        font-size: 0.8em;
        font-weight: 300;
        padding-top: 10%;
    }
    .map iframe{
        width: 120px;
        height: 120px;
    }
}