.leftnav.dark{
    color: #fff;
}

nav.dark{
    background-color:#0a0a0a;
}

.search.dark{
    color: white;
}

#moon.dark{
    opacity: 0;
}

.main.dark{
    background-color:#0a0a0a;
}

.banner_whyus.dark{
    background-color: #111111;
}

.our_gallary_section.dark{
    background-color: #111111;
}

.features.dark .features_text h3{
    color: white;
}

.features.dark .features_cards h4{
    color: white;
}

.features.dark .features_cards p{
    color: white;
}

.features.dark .features_cards a{
    color: white;
}

.features.dark .features_cards a:hover{
    color:#ec1944;
}

.main.dark .our_text h3{
    color:white;
}


.main.dark .why_text h3{
    color: white;
}

.main.dark .ttt{
    color: white;
}

.main.dark .count{
    color: white;
}

.main.dark .our_head p{
    color: white;
}

.main.dark .admin{
    color: white;
}

.main.dark .admin span{
    color: white;
}

.main.dark .date{
    color: white;
}

.main.dark .our_uphead p{
    color: white;
}



/* mobile view */

@media screen and (max-width: 741px) and (min-width: 250px){
    .leftnav.dark{
        color: black;
    }

}

/* tab view */

@media screen and (max-width: 1017px) and (min-width: 742px){
    .leftnav.dark{
        color: black;
    }

}
