.leftnav.dark{
    color: #fff;
}

nav.dark{
    background-color:#0a0a0a;
}

.search.dark{
    color: white;
}

#moon.dark{
    opacity: 0;
}

.main.dark{
    background-color:#0a0a0a;
}

.banner_whyus.dark{
    background-color: #111111;
}

.our_gallary_section{
    background-color: #111111;
}

.features.dark .features_text h3{
    color: white;
}

.features.dark .features_cards h4, p{
    color: white;
}

.features.dark .features_cards a{
    color: white;
}

.features.dark .features_cards a:hover{
    color:#ec1944;
}

.why_text.dark h3, .ttt{
    color: white;
}

.main.dark .our_text h3{
    color:white;
}

.main.dark .why_text h3{
    color: white;
}

.main.dark .count{
    color: white;
}



/* mobile view */

@media screen and (max-width: 741px) and (min-width: 250px){

}

/* tab view */

@media screen and (max-width: 1017px) and (min-width: 742px){

}

/* small laptop view */

@media screen and (max-width: 1390px) and (min-width: 1018px){

}
