
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    font-family: poppins;
}

.main{
    font-family: poppins;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* navbar */

.container{
    width: 1200px;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.main nav{
    width: 100vw;
    height: auto;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.navbar{
    display: flex;
}

.heading{
    display: flex;
    align-items: center;
    color: #ec1944;
    font-size: 28px;
    font-weight: 700;
    padding: 0px 48px 0px 0px;
}

.leftnav{
    display: flex;
    font-size: 0.9rem;
}


.home{
    padding: 0 12px;
}

.home:hover{
    color: #ec1944;
}

.about{
    padding: 0 12px;
}
.about:hover{
    color: #ec1944;
}

.blog{
    padding: 0 12px;
}
.blog:hover{
    color: #ec1944;
}

.page{
    padding: 0 12px;
}
.page:hover{
    color: #ec1944;
}

.contact{
    padding: 0 12px;
}
.contact:hover{
    color: #ec1944;
}

.rightnav{
    display: flex;
    align-items: center;

}

.search{
    padding: 0 25px;
    font-size: 1.1em;
    
}

.phone{
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #ec1944;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.mode{
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.mode i{
    font-size: 1em;
}

.hamburger{
    display: none;
}

/* slide section */

#banner_slider .slide{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* padding: 13rem 0 0 0; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0,  0.6)),url(assets/lotus-design-n-print-wRzBarqn3hs-unsplash.jpg);
}

#banner_slider .slide_two{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0,  0.6)),url(assets/r-architecture-wDDfbanbhl8-unsplash.jpg);
}

#banner_slider .slide_three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0,  0.6)),url(assets/spacejoy-9M66C_w_ToM-unsplash.jpg);
}

#banner_slider .slide_four{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0,  0.6)),url(assets/spacejoy-KSfe2Z4REEM-unsplash.jpg);
}

#banner_slider .slide_five{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0,  0.6)),url(assets/spacejoy-PyeXkOVmG1Y-unsplash.jpg);
}

#banner_slider .slide_six{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0,  0.6)),url(assets/zac-gudakov-ztWpwTEx728-unsplash.jpg);
}

.slide_contant p{
    color: white;
    font-size: 5.25rem;
    font-weight: 700;
    line-height: 5.25rem;
    width: 72%;
    padding: 6rem 0 2.5rem 0;
}

.button_wrap a{
    
    text-decoration: none;
    color: #ec1944;
    font-weight: 600;
}

.button_wrap i{
    width: 2rem;
    height: 2rem;
    padding: 8.5px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;

    
}

/* owldots */

#banner_slider .owl-dots{
    width: 100%;
    bottom: 4%;
    position: absolute;
}


#banner_slider .owl-dots .owl-dot span{
    width: 14px;
    height: 14px;
    background-color:white;
    opacity: 1;
}


#banner_slider .owl-dots .owl-dot.active span{
    background-color:#ec1944;
    opacity: 1;
}

.owl-carousel .owl-item {
    transition: transform 5s ease-in-out;
}

/* owl arrows */

#banner_slider .owl-nav{
    margin: 0;
    line-height: 0;
    height: 0;

}

#banner_slider .owl-nav button{
    margin: 0;
}

#banner_slider .slick-arrow.prev{
    left: 10%;

}

#banner_slider .slick-arrow.next{
    right: 81%;
    
}

#banner_slider .slick-arrow{
    position: absolute;
    top:93%;
    display: flex;
    z-index: 9;
    transform: translate(20%,-50%);
    /* border: 1px solid #fff; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 2.7rem;
    height: 2.7rem;
    backdrop-filter: blur(66px);
}

#banner_slider .slick-arrow span{
    color:aliceblue;
    font-size: 2rem;

}

/* Features section */

.features_section{
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.features{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.features_text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features_text p{
    font-size: 1rem;
    color: #ec1944;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.features_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: 43%; 
    top: 65%;
}

.features_text h3{
    font-size: 2.5rem;
    width: 65%;
    margin: auto;
    padding: 1rem 0 3rem 0;
}

.cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.features_cards{
    width: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* border:2px solid #ec1944; */
    transition: all 0.4s ease;
}

.features_cards.sign_card .image{
    background-color: #ec1944;
}
.features_cards.sign_card svg{
    fill: white;
}

.features_cards svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: #ec1944;
    transition: fill 0.3s ease;
}

.features_cards .image{
    width: 120px;
    height: 120px;
    background-color: #F5F1F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.4s ease;
}

.features_cards:hover .image{
    background-color: #ec1944;
    transform:translateY(-5%);
}


.features_cards:hover svg{
    fill: #F5F1F2;
}

.features_cards h4{
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 0;
}

.features_cards p{
    font-weight: 300;
    margin-bottom: 24px;
}


.features_cards a{
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition:color 0.3s ease;
}

.features_cards a:hover{
    color:#ec1944;
}

.features_cards i{
    width: 2rem;
    height: 2rem;
    padding: 8.5px;
    border-radius: 50%;
    background-color:#ec1944;
    margin: 0 10px;
    color: white;

    
}

/* why us section */

.banner_whyus{
    background-color: #F5F1F2;
    height: auto;
}

.why_contant{
    display: flex;
    padding: 7rem 0;
}

.why_text{
    width: 50%;
    height: auto;
}

.why_images{
    width: 50%;
    
    height: auto;
}

.why_text p{
    font-size: 0.9rem;
    color: #ec1944;
    font-weight: 600;
    position: relative;
    display: flex;
    left: 13%;
    padding-bottom: 1.7rem;
}

.why_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: -12%; 
    top: 34%;
}

.why_text h3{
    font-size: 2.5rem;
    line-height: 2.9rem;
    padding-bottom: 1.7rem;
}

.why_text div{
    font-weight: 300;
    width: 85%;
    padding-bottom: 2rem;
    
}

.why_text a{
    text-decoration: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #ec1944;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.why_images{
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;
    
}

.image1{
    grid-row: span 2;
    padding-bottom: 2rem;
}

.image2{
    padding-top: 1.5rem;
}

.image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* our capabalities */

.our_section{
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.our_caps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.our_text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.our_text p{
    font-size: 1rem;
    color: #ec1944;
    font-weight: 600;
    position: relative;
    display: inline-block;
    left: 2.5%;
}

.our_text p::before{
    content: "";
    width: 50px;
    height: 1px; 
    background-color: #ec1944; 
    position: absolute;
    left: 39%; 
    top: 65%;
}

.our_text h3{
    font-size: 2.5rem;
    width: 65%;
    margin: auto;
    padding: 1rem 0 3rem 0;
}

.our_images{
    display: flex;
    width: 100%;
}

.our_cards{
    width: 25%;
    height:auto;
    padding: 0 12px;
}

.our_img{
    width: 100%;
    height: 361px;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0 ;
    
}

.our_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.our_img img:hover{
    transform: scale(1.15); 
}

.our_head{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 5px 12px  #ddd;
}
/* for mobile view */

@media screen and (max-width: 741px) and (min-width: 250px){

    /* navbar */

    .menu{
        display: none;

    }

    .container{
        width: 290px;
        margin: auto;
    }
    .heading{
        padding: 0%;
        font-size: 1.9em;
    }

    .main nav{
        padding: 12px 0;
    }

    .hamburger{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
    }

    .mode{
        font-size: 1.7rem;
    }

    /* owl-carousel */
    .slide_contant p{
        color: white;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.5rem;
        width: 100%;
        padding: 16rem 0 2.5rem 0;
    }

    .slide_contant{
        height: 100vh;
    }

    .button_wrap a{
    
        font-size: 0.8rem;
        font-weight: 600;
    }

    #banner_slider .slick-arrow.prev{
        left: 5%;
    
    }
    
    #banner_slider .slick-arrow.next{
        right: 75%;
        
    }

    #banner_slider .owl-dots .owl-dot span{
        width: 5px;
        height: 5px;
        background-color:white;
        opacity: 1;
    }

    #banner_slider .slick-arrow{
        
        width: 1.5rem;
        height: 1.5rem;
        
    }

    #banner_slider{
        height: 95vh;
    }
    
    /* features section */

    .features_section{
        padding: 3.5rem 0;
    }
    
    .features_text p{
        font-size: 1rem;
        color: #ec1944;
        font-weight: 600;
        position: relative;
        display: inline-block;
    }
    
    .features_text p::before{
        left: 25%; 
        top: 65%;
    }
    
    .features_text h3{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .cards{
        width: 100%;
        row-gap: 20px;
        flex-wrap: wrap;
        
    }
    
    .features_cards{
        width: 100%;
        
    }
    
   
    .features_cards h4{
        font-size: 1.rem;
    }

    /* why us section */

    .why_contant{
        display: flex;
        padding: 3.5rem 0;
        flex-direction: column;
    }
    
    .why_text{
        width: 100%;
    }
    
    .why_images{
        width: 100%;
        padding: 4rem 0 1.3rem 0;
    }
    
    .why_text p{
        left: 25%;
        padding-bottom: 1.3rem;
    }
    
    .why_text p::before{
        left: -22%; 
        top: 34%;
    }
    
    .why_text h3{
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-bottom: 1.3rem;
    }
    
    .why_text div{
        font-weight: 300;
        width: 85%;
        padding-bottom: 2.5rem;
        
    }
    
    .why_text a{
        padding: 12px 22px;
        font-size: 1rem;
    }
}

/* for tab view */

@media screen and (max-width: 1017px) and (min-width: 742px){

    /* navbar */
    .menu{
        display: none;

    }

    .container{
        width: 720px;
        margin: auto;
        padding: 0 15px;
        position: relative;
    }
    .heading{
        font-size: 1.9em;
    }

    .main nav{
        padding: 12px 0;
    }

    .hamburger{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        position: absolute;
        right: 2%;
        top: 20%;


    }

    .mode{
        font-size: 1.7rem;
        position: absolute;
        right: 4%;
        top: 20%;
        
    }
    .slide_contant p{
        color: white;
        font-size: 4rem;
        font-weight: 600;
        line-height: 4rem;
        width: 100%;
        padding: 6rem 0 2.5rem 0;
    }

    #banner_slider .slick-arrow.prev{
        left: 0%;
    
    }
    
    #banner_slider .slick-arrow.next{
        right: 82%;
        
    }

    /* features section */

    .features_section{
        padding: 5rem 0;
    }
    
    .features_text p{
        font-size: 1rem;
        color: #ec1944;
        font-weight: 600;
        position: relative;
        display: inline-block;
    }
    
    .features_text p::before{
        left: 38%; 
        top: 65%;
    }
    
    .features_text h3{
        font-size: 2rem;
        width: 100%;
    }
    
    .cards{
        width: 100%;
        row-gap: 20px;
        flex-wrap: wrap;
        
    }
    
    .features_cards{
        width: 50%;
        
    }
    
    .features_cards h4{
        font-size: 1.rem;
    }

        /* why us section */

    .why_contant{
        display: flex;
        padding: 4.5rem 0;
        flex-direction: column;
    }
    
    .why_text{
        width: 100%;
    }
    
    .why_images{
        width: 100%;
        padding: 4rem 0 1.3rem 0;
    }
    
    .why_text p{
        left: 9%;
        padding-bottom: 1.3rem;
    }
    
    .why_text p::before{
        left: -9%; 
        top: 34%;
    }
    
    .why_text h3{
        font-size: 1.8rem;
    }
    
    .why_text div{
        width: 95%;
    }
    
    .why_text a{
        padding: 12px 30px;
        font-size: 1rem;
    }

}

/* for small laptops */

@media screen and (max-width: 1390px) and (min-width: 1018px){

    .container{
        width: 950px;
    }

    .phone{
        padding: 12px 30px;
        font-size: 0.9rem;
        background-color: #ec1944;
        border-radius: 10px;
        font-weight: 500;
        color: white;
    }

    .features_text h3{
        font-size: 2rem;
        width: 80%;
    }

    .features_text p::before{
        left: 41%; 
        top: 65%;
    }

    .why_text h3{
        font-size: 1.9rem;
    }
}